*{
  box-sizing: border-box;
  margin: 0;
  padding:0
}

.container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  padding-top:5%
}
#input-result,#operation-buttons{
  width:auto;
}
input{
  margin:10px;
  width:60px;
  height:35px;
  border-radius:5px;
  font-size: 25px;
}
label{
  font-size: 30px;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button{
  width:40px;
  margin:5px;
  height:25px;
  border-radius: 7px;
}
.result{
  margin-left:38px
}
#operation-buttons{
  display: flex;
  flex-direction: column;
  
  margin-left:50px
}
.refresh{
  width:70px
}